
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />
            <p>
                Boran'ın Seyahat Notları: Dünyayı Keşfederken Yolculuk

                Merhaba seyahat tutkunları! Ben Boran, bu blogda sizleri dünya çapında unutulmaz maceralara sürükleyeceğim. Her biri beni büyülemiş olan yerleri keşfetme fırsatım oldu ve bu deneyimleri sizinle paylaşmak için buradayım.

                Seyahat etmek benim için sadece yeni yerler görmek değil, aynı zamanda farklı kültürleri tanımak, yerel lezzetleri tatmak ve ilginç hikayeleri öğrenmek anlamına geliyor. Bu blogda, gezdiğim yerlerden izlenimlerimi ve tavsiyelerimi paylaşacak, sizi kendinizden geçirecek manzaraları ve ilham verici anları yakaladığım anları aktaracağım.

                Gezmeyi seviyorsanız ve yeni yerler keşfetmek için bir tutkunuz varsa, doğru adrestesiniz. Boran'ın Seyahat Notları, sizlere dünyayı keşfederken yolculuğun tadını çıkarmak için gerekli bilgi ve ilhamı sunacak.

                Sitede neler bulabileceksiniz:

                Benim gezdiğim yerlerdeki en önemli cazibe noktaları ve aktiviteler
                Seyahat önerileri ve nasıl daha iyi bir gezgin olabileceğinize dair ipuçları
                Yerel mutfağın tadını çıkarmanız için restoran ve yemek önerileri
                Seyahat anıları ve ilginç hikayeler
                Bana katılın ve dünyanın dört bir yanındaki harika yerleri keşfedin. Daha fazla macera ve bilgi için takipte kalın. Seyahat etmeye hazır mısınız? Ben hazırım ve bu heyecanı sizinle paylaşmak için sabırsızlanıyorum!

                Yolculuk başlasın!
            </p>
        </div>
    </div>
</div>
